@model IEnumerable<SOA.WLIMS.Service.DAL.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>车辆管理</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table>
    <tr>
       
        <th>
            Name
        </th>
        <th>
            LicensePlateNumber
        </th>
        <th>
            Status
        </th>
         <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @item.Name
        </td>
        <td>
            @item.LicensePlateNumber
        </td>
        <td>
            @item.Status
        </td>
         <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("查看", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

