@model IEnumerable<SOA.WLIMS.Models.DeliveryInfoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
      
        <th>
            OrderCode
        </th>
        <th>
            StorehouseID
        </th>
        <th>
            VehicleID
        </th>
        <th>
            HandleTime
        </th>
        <th>
            HandleStatus
        </th>
        <th>
            HandleMessage
        </th>  <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @item.OrderCode
        </td>
        <td>
            @item.StorehouseID
        </td>
        <td>
            @item.VehicleID
        </td>
        <td>
            @String.Format("{0:g}", item.HandleTime)
        </td>
        <td>
            @item.HandleStatus
        </td>
        <td>
            @item.HandleMessage
        </td> <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

