@model IEnumerable<SOA.WLIMS.Models.RegisterModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            ConfirmPassword
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @item.UserName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Password
        </td>
        <td>
            @item.ConfirmPassword
        </td>
    </tr>
}

</table>

