@model IEnumerable<SOA.WLIMS.Models.StorehouseModel>

@{
    ViewBag.Title = "Index";
}

<h2>仓库管理</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table>
    <tr>
        
        <th>
            仓库名称
        </th>
        <th>
            仓库地址
        </th>
        <th>
            仓库容量
        </th>
        <th>
            管理员
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.Capacity
        </td>
        <td>
            @item.Master
        </td>
        
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("查看", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

