@model IEnumerable<SOA.WLIMS.Service.DAL.Storehouse>

@{
    ViewBag.Title = "Index";
}

<h2>仓库管理</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Capacity
        </th>
        <th>
            Master
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.Capacity
        </td>
        <td>
            @item.Master
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

