@model IEnumerable<SOA.WLIMS.Service.DAL.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Code
        </th>
        <th>
            SrcUserName
        </th>
        <th>
            SrcUserPhone
        </th>
        <th>
            SrcAddress
        </th>
        <th>
            Contents
        </th>
        <th>
            ContentsWeight
        </th>
        <th>
            ContentsValue
        </th>
        <th>
            ToUserName
        </th>
        <th>
            ToUserPhone
        </th>
        <th>
            ToAddress
        </th>
        <th>
            Status
        </th>
        <th>
            Charges
        </th>
        <th>
            PickupTime
        </th>
        <th>
            SigninTime
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.Code
        </td>
        <td>
            @item.SrcUserName
        </td>
        <td>
            @item.SrcUserPhone
        </td>
        <td>
            @item.SrcAddress
        </td>
        <td>
            @item.Contents
        </td>
        <td>
            @String.Format("{0:F}", item.ContentsWeight)
        </td>
        <td>
            @String.Format("{0:F}", item.ContentsValue)
        </td>
        <td>
            @item.ToUserName
        </td>
        <td>
            @item.ToUserPhone
        </td>
        <td>
            @item.ToAddress
        </td>
        <td>
            @item.Status
        </td>
        <td>
            @String.Format("{0:F}", item.Charges)
        </td>
        <td>
            @String.Format("{0:g}", item.PickupTime)
        </td>
        <td>
            @String.Format("{0:g}", item.SigninTime)
        </td>
    </tr>
}

</table>

