@model IEnumerable<SOA.WLIMS.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}

<h2>订单管理</h2>

<p>
    @Html.ActionLink("新增", "Create")| @Html.ActionLink("导出到表格", "Export")
</p>
<table>
    <tr>
        
        <th>
            订单编号
        </th>
        <th>
            寄件人
        </th>
        <th>
            寄件信息
        </th>
        <th>
            重量
        </th>
        <th>
            报价
        </th>
        <th>
            收件人
        </th>
        <th>
            订单状态
        </th>
        <th>
            邮费
        </th>
        <th>
            寄件时间
        </th>
        <th>
            签收时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Code
        </td>
        <td>
            @item.SrcUserName
        </td>
        <td>
            @item.Contents
        </td>
        <td>
            @String.Format("{0:F}", item.ContentsWeight)
        </td>
        <td>
            @String.Format("{0:F}", item.ContentsValue)
        </td>
        <td>
            @item.ToUserName
        </td>
        <td>
            @item.Status
        </td>
        <td>
            @String.Format("{0:F}", item.Charges)
        </td>
        <td>
            @String.Format("{0:g}", item.PickupTime)
        </td>
        <td>
            @String.Format("{0:g}", item.SigninTime)
        </td>
        
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("查看", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

